<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         .contf{
            display: grid;
            grid-template-columns: auto;
            border: 3px solid lightgray;
            text-align: center;
            background-color: #f2f2f2; 
            margin: 5px;
            color: #d6a419/* #b019d6*/;
         
        }
    </style>
</head>
<body>
     <div class="contf">
        <p>
          website is created and design by ABC and XYZ team  &#129505;&#128525;&#128578;  &#128522;  <br> Thanks for visit on our website..
    
        </p>
      </div>
</body>
</html>